.input_group {
  @apply flex;
  position: relative;
}

.input_text {
  @apply w-full py-4 px-6 border rounded-md bg-slate-50;
  @apply focus:outline-none border border-gray-950;
}

.button {
  @apply w-full bg-gradient-to-r from-gray-900 to-black rounded-lg;
  @apply py-2 text-gray-100 text-lg;
}

.button:hover {
  @apply bg-gradient-to-r from-gray-200 to-gray-300 text-black  border-gray-900;
}

.button_custom {
  @apply w-full bg-gray-200 rounded-lg border py-3 flex justify-center gap-2 hover:bg-gray-300;
}

.icon {
  @apply absolute inset-y-0 right-0  flex items-center px-4 pl-3;
}

.input_text + * {
  color: #cbd5e1;
}

.input_text:focus + * {
  color: #030303;
}

.input_text:not([type="email"], [type="text"]) ~ span:hover * {
  color: #030303;
  cursor: pointer;
}
